*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url('background.jpeg');
    background-size: cover;
}

#container{
    height: 600px;
    width: 70%;
    margin: 50px auto;
    display: flex;
}

.form_align{
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form_align span{
    margin: auto;
}

#login{
    background-color: rgba(210, 181, 211, 0.85);
    border: 1px solid indigo;
    border-radius: 20px;
    width: 50%;
    margin: 10px;
    padding: 10px;
}

#login h1{
    margin: 30px auto;
    text-align: center;
    font-size: 50px;
    letter-spacing: 10px;
}

#signup{
    background-color: rgba(210, 181, 211, 0.85);
    border: 1px solid indigo;
    border-radius: 20px;
    width: 50%;
    margin: 10px;
    padding: 10px;
}

#signup h1{
    margin: 20px auto;
    text-align: center;
    font-size: 50px;
    letter-spacing: 10px;
}

.form_label{
    font-size: 25px;
    font-weight: bold;
    padding: 5px;
}

.input_box{
    font-size: 18px;
    padding: 4px 5px;
    margin-bottom: 20px;
    font-weight: bold;
    border-radius: 5px;
}

.form_radio{
    height: 25px;
    width: 25px;
}

.btn2{
    display: block;
    margin: 50px auto;
    background-color:rgb(130, 25, 205);
    color: white;
    font-weight: bold;
    font-size: 25px;
    padding: 5px 50px;
    border-radius: 10px;
}

.btn2:hover{
    background-color:indigo;
    
}

.form_label2{
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
}

.input_box2{
    font-size: 16px;
    padding: 4px 5px;
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: 5px;
}